body {
    margin: 0px;
  }
  
  /* Body Header */
  
  #body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /* Horizontal Lists */
  
  .horizontal-list {
    list-style: none;
    padding-left: 0px;
    text-align:center;
      
  }
  
  .horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
  }
  
  .horizontal-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
  }
  
  .horizontal-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
      margin:0px;
  }
  .horizontal-list li a img{
      width: 20px; /* Set the width */
    height: 20px/* Set the height */
      
  }
  
  
  .text-center {
    text-align: center;
  }
  .horizontal-list li img{
      margin:1rem;
      
      
  }
  #name{
      color:white;
      font-size:3rem;
      letter-spacing:0.1rem;
      font-weight:700;
      margin-top:5rem;
      margin-bottom:0.5rem;
      text-style:upper-case;
  }

  #my-image {
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: -8rem;
    
  }

  #my-image img {
    height: 15rem;
    width: 15rem;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px lightgrey;
    position: absolute;
    
  }
  /* about section*/


  #about p {
    color: grey;
  }

  #about p span {
    color: #2857a4;
  }
/* About Section*/
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
  background-color: #9e9b9b29;
}
section:nth-child(2n + 1) {
  background-color: white;
}



  
